<%# in app/views/teachers/index %>

<%#list all available teachers%>
<% @teachers.each do |f| %>
	<div><%= f.teacher.full_name %></div>
<% end %>

<%# add link to creating new teacher %>
<%# add link to search existing teachers %>